/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select, button {
  vertical-align: middle;
  background: white;
  -webkit-appearance: none; }

ul, ol {
  list-style-type: none; }

/*
 * Main Site Format
 */
/*
 * Fonts
 */
/*
 * Standard Sizes
 */
/*
 * Standard Colors
 */
.selectable, #searchField .search-form button[type='submit'], #searchResults ul li {
  cursor: pointer; }

.roboto-font, body, #searchField .search-form input[type='text'], #searchField .search-form button[type='submit'] {
  font-family: 'Roboto Slab', serif; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background: #f8f8f8; }
  body #leftPane {
    width: 30%;
    float: left;
    height: 100vh;
    overflow-y: auto; }
  body #mainBody {
    width: 70%;
    float: left; }

.loader {
  display: none;
  width: 32px;
  margin: 0 auto;
  padding-top: 64px; }
  .loader.active {
    display: block; }

#mapDisplay .map {
  height: 100vh; }

#searchField .search-form {
  padding: 32px;
  padding-bottom: 0; }
  #searchField .search-form input[type='text'], #searchField .search-form button[type='submit'] {
    border: 1px solid #a9a9a9;
    padding: 8px; }
  #searchField .search-form input[type='text'] {
    border-right: none;
    width: 80%; }
  #searchField .search-form button[type='submit'] {
    width: 20%;
    border-left: none;
    background: #91c673; }
  #searchField .search-form button[disabled] {
    cursor: default; }

#searchResults ul {
  padding: 16px; }
  #searchResults ul > li + li {
    border-top: 1px solid #c4c4c4; }
  #searchResults ul li {
    padding: 16px; }
    #searchResults ul li .name {
      font-size: 20px;
      padding-bottom: 8px; }
    #searchResults ul li .address {
      font-size: 14px;
      padding-bottom: 4px;
      color: #7d7d7d; }
    #searchResults ul li .phone {
      font-size: 12px;
      color: #7d7d7d; }
    #searchResults ul li:hover {
      background: #e1f0d9; }
